<div class="page-sidebar">
  <div class="logo-box"><a href="#" class="logo-text">{{user.login}}</a><a
      href="#"
      id="sidebar-close"
    ><i class="material-icons">close</i></a>
    <a href="#" id="sidebar-state"><i class="material-icons">adjust</i><i
        class="material-icons compact-sidebar-icon"
      >panorama_fish_eye</i></a></div>
  <div class="page-sidebar-inner slimscroll">
    <ul class="accordion-menu">
      <li class="sidebar-title">
        Admin
      </li>
      <li {{#if isHome}} class="active-page" {{/if}}>
        <a href="/" {{#if isHome}} class="active" {{/if}}><i
            class="material-icons-outlined"
          >dashboard</i>Bosh sahifa</a>
      </li>
      <li {{#if isCompany_Info}} class="active-page" {{/if}} >
        <a href="/company_info" {{#if isCompany_Info}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >slideshow</i>Company Info</a>
      </li>
      <li {{#if isStuff}} class="active-page" {{/if}} >
        <a href="/stuff" {{#if isStuff}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >dashboard</i>Stuff</a>
      </li>
      <li {{#if isProduct}}   class="active-page" {{/if}} >
        <a href="/product" {{#if isProduct}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >grid_view</i>Product</a>
      </li>
      <li {{#if isTechnology}}   class="active-page" {{/if}} >
        <a href="/technology" {{#if isTechnology}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >grid_view</i>Technology</a>
      </li>
      <li {{#if isCategory}}   class="active-page" {{/if}} >
        <a href="/category" {{#if isCategory}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >grid_view</i>Category</a>
      </li>
      <li {{#if isAttribute}}   class="active-page" {{/if}} >
        <a href="/attribute" {{#if isAttribute}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >grid_view</i>Attribute</a>
      </li>
      <li {{#if isSlider}}   class="active-page" {{/if}} >
        <a href="/slider" {{#if isSlider}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >grid_view</i>slider</a>
      </li>
      <li {{#if isVakansiya}} class="active-page" {{/if}}>
        <a href="/vakansiya" {{#if isVakansiya}} class="active" {{/if}}>
        <i class="material-icons-outlined">shopping_basket</i>vakansiya</a>
      </li>
      <li {{#if isFaqs}} class="active-page" {{/if}}>
        <a {{#if isFaqs}} class="active" {{/if}} href="/faqs"><i class="material-icons">settings</i>faqs</a>
      </li>    
    </ul>
  </div>
</div>