<div class="page-sidebar">
  <div class="logo-box"><a href="#" class="logo-text">{{user.login}}</a><a
      href="#"
      id="sidebar-close"
    ><i onclick="hideSidebar()" class="material-icons">close</i></a>
    <a href="#" id="sidebar-state"><i class="material-icons" onclick="hide()">adjust</i><i
        class="material-icons compact-sidebar-icon"
      >panorama_fish_eye</i></a></div>
  <div class="page-sidebar-inner slimscroll">
    <ul class="accordion-menu">
      <li class="sidebar-title">
        Admin
      </li>
      <li {{#if isHome}} class="active-page" {{/if}}>
        <a href="/" {{#if isHome}} class="active" {{/if}}><i
            class="material-icons-outlined"
          >dashboard</i>Bosh sahifa</a>
      </li>
      <li {{#if isStuff}} class="active-page" {{/if}} >
        <a href="/stuff" {{#if isStuff}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >dashboard</i>Stuff</a>
      </li>
      <li {{#if isProduct}}   class="active-page" {{/if}} >
        <a href="/product" {{#if isProduct}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >grid_view</i>Product</a>
      </li>
      <li {{#if isCategory}}   class="active-page" {{/if}} >
        <a href="/category" {{#if isCategory}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >grid_view</i>Category</a>
      </li>
      <li {{#if isAttribute}}   class="active-page" {{/if}} >
        <a href="/attribute" {{#if isAttribute}} class="active" {{/if}} ><i
            class="material-icons-outlined"
          >grid_view</i>Attribute</a>
      </li>
      <li {{#if isVacancy}} class="active-page" {{/if}}>
        <a href="/vacancy" {{#if isVacancy}} class="active" {{/if}}>
        <i class="material-icons-outlined">shopping_basket</i>vakansiya</a>
      </li>
      <li {{#if isFaqs}} class="active-page" {{/if}}>
        <a {{#if isFaqs}} class="active" {{/if}} href="/faqs"><i class="material-icons">settings</i>faqs</a>
      </li>    
    </ul>
  </div>
</div>

<script>
    if(window.outerWidth>1200){
        function hide(){
          document.querySelector('.page-sidebar').classList.add('hide')
          document.querySelector('.page-container ').classList.add('hide')
          document.querySelector('.small-screens-sidebar-link').style.display='block'
        }
    }
    
    function hideSidebar(){
      document.querySelector('.page-sidebar').classList.remove('show')
      document.querySelector('.page-container').classList.remove('active')
      document.querySelector('.small-screens-sidebar-link').style.display='block'
    }
</script>