@import '../../Styles/var.scss';

.content {
    width: 100%;
    background: white;
    height: auto;
    >.row {
        position: relative;
        width: 100% !important;
        .col-lg-6 {
            margin: 0;
            padding: 0;
            border: 1px solid $main-color;
            margin-bottom: 20px;
            .card {
                width: 100%;
                height: 100%;
                .card-footer {
                    background: #f6f7f8;
                    @include center;
                    flex-direction: column;

                    h4 {
                        color: $light-blue;
                        font-size: 32px;
                    }

                    p {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .video-content {
                    height: 450px !important;
                    width: 100% !important;
                }
            }
        }
    }
    .locations{
        padding: 30px 0 !important;
        .row{
            .col-lg-3{
                margin-top: 20px;
                display: flex;
                align-items: flex-start;
                .locationInfo{
                    display: flex;
                    flex-direction: column;
                    @include center;
       
                    i{
                        font-size: 40px;
                        margin: 0;
                        padding: 0;
                    }
                    h4{
                        margin: 25px 0;
                        font-weight: 400;
                    }    
         
                    p{
                        text-align: center;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .order{
        width:100%;
        background: url(../../Assets/bg3.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        height: 600px;
        @include center;
        text-align: center;
        &-content{
            flex-direction: column;
            width: 35%;
            display: flex;
            color: $main-color;
            p{
                font-size: 64px;
                font-weight: 900;
            }
            span{
                font-size: 24px;
                font-weight: 500;
            }
            button{
                margin-top: 20px;
                background-color: $orange;
                border-radius: 20px;
                padding: 5px 15px;
                font-size: 18px;
                color: $main-color !important; 
                display: inline-block;
                &:focus{
                    outline: unset;
                }
            }
        }
    }
    .ourService{
        .row{
            margin-top: 50px;
            width: 100%;
            .serviceInfo{
                border-bottom: 2px solid #EEEEEE;
                box-sizing: border-box;
                display: block;
                position: relative;
                margin-bottom:100px;
                h4{
                    color: #1E6494;
                }
                &::after{
                    content: '';
                    position: absolute;
                    height: 2px;
                    background-color: #95C841;
                    width: 30%;
                }
            }
            .col-lg-3{
                .card{
                    border: none;
                    @include center;
                    background-color: #EEF0F1;
                    padding: 30px 30px;
                    height: 350px;
                    width: 100%;
                    position: relative;
                    text-align: center;
                    .card-content{
                        position: absolute;
                        top: -80px;
                        border: 1px solid #95C841;
                        border-radius: 50%;   
                    }
                    h4{
                        margin-top: 100px;
                        color: #1E6494;
                        font-weight: 600;
                    }
                    p{
                        color:#6F6B78;
                    }
                }
            }
        }
    }
    .home-product{
        >h1{
            color: #FCB131;
            padding: 20px 10px;
        }
        .row{
            .col-lg-4{
                .card{
                    border-radius: 10px;
                    border: unset;
                    .card-body{
                        margin: 0;
                        padding: 0;
                        img{
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                        }
                    }
                    .card-footer{
                        background: #E5E9ED;
                    }
                }
                margin-bottom: 20px;
            }
        }
    }
}