@import '../../Styles/var.scss';

.navbar {
    z-index: 3;
    background: #fcb131;
    padding: 0 !important;
    margin-top: 50px;
    width: 100%;
    height: 80px;
    .row {
        height: 100%;
        .col-lg-12 {
            width: 100%;
            display: flex;
            align-items: center;
            .navbar__brand {
                height: 100%;
                display: flex;
                align-items: center;
                img {
                    width: 150px;
                }
            }
            i{
                position: absolute;
                right: 50px;
                font-size: 30px;
                color: $main-color;
                display: none;
            }
            .navbar__list {
                height: 80px;
                display: flex;
                align-items: center;
                margin: 0;
                .navbar__item {
                    position: relative;
                    margin-right: 25px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    >a {
                        position: relative;
                        font-size: 22px;
                        color: black;
                        font-weight: bold;
                        &::after {
                            content: '';
                            position: absolute;
                            width: 0;
                            transition: 0.4s;
                            height: 3px;
                            border-radius: 2px;
                            background-color: white;
                            bottom: -3px;
                            left: 50%;
                        }
                        &:hover {
                            &::after {
                                left: 0;
                                width: 100%;
                            }
                        }
                    }
                    >ul {
                        position: absolute;
                        display: none;
                        flex-direction: column;
                        top: 100%;
                        left: 0;
                        border-radius: unset !important;
                        padding-left: 20px;
                        width: auto;
                        background: #fcb131;
                        text-align: left;
                        padding:5px 0;
                        padding-left: 5px;
                        li {
                            width: 100%;
                            line-height: 30px;
                            overflow: hidden;
                            font-size: 18px;
                            height: 28px;
                        }
                    }

                    &:hover {
                        &:hover {
                            ul {
                                display: flex;
                                top: 100%;
                            }
                        }

                        ul {
                            display: flex;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }


}

@media (min-width:1440px) {
    .navbar {
        display: flex;
        justify-content: center !important;
        padding: 0 20px;
        .col-xl-10 {
            height: 80px;
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }
}
@media (max-width:1440px) {
    .navbar {
        padding: 0 20px !important;
    }
}


@media (max-width:1024px) {
    .navbar {
        padding-left: 50px !important;
    }
}
@media (max-width:767px) {
    
    .navbar{
        i{
            display: flex !important;
        }
        .navbar__list{
            display: flex !important;
            flex-direction: column;
            top: 0;
            bottom: 0; 
            right: 0;
            left: 120%;
            width: 0;
            min-height: 100vh !important;
            position: absolute;
            z-index: 2;
            background-color: darkcyan;
            transition: .3s;
        }
    }
    .showNav{
        i{
            z-index: 10;
            cursor: pointer;
        }   
        .navbar__list{
           width:100% !important;
           left: 0;
           justify-content: flex-start !important;
           .navbar__item{
               ul{
                   left:100% !important;
                   top: 40% !important;
               }
           }
        }
    }
    
}